:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-color: #ffffff; /* Font Color */
  --background-start: #011627;
  --background-end: #2EC4B6;

  --h1-color: #FF9F1C;
  --h2-color: #FF9F1C;
  --h3-color: #FF9F1C;

  --thank-you-color: #ffca81;

  --a-color: #52baeb;
  --highlight-color: #ffda60;
  --light-highlight-color: #52baeb;

  --read-more-color: #ffda60;
  --read-more-hover-color: #FF9F1C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  padding: 6rem 8rem;
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

/* Smaller devices (tablets, 768px and down) */
@media (max-width: 768px) {
  body {
    padding: 4rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  body {
    padding: 2rem;
  }
  
  .project .columnWrapper {
    display: block;
  }
  .column {
    margin-bottom: 1rem;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  body {
    padding-left: 12rem;
    padding-right: 12rem;
    font-size: 1.2em;
  }
}

/* Large devices (desktops, 1224px and up) */
@media (min-width: 1224px) {
  body {
    padding-left: 17rem;
    padding-right: 17rem;
    font-size: 1.5em;
  }
}
/* Large devices (desktops, 1500px and up) */
@media (min-width: 1500px) {
  body {
    font-size: 1.7em;
  }
}


a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
h1 {
  color: var(--h1-color);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
}
h2 {
  color: var(--h2-color);
  font-size: 1.17em;
  margin-top: .5em;
  margin-bottom: .5em;
}
h3 {
  color: var(--h3-color);
  font-size: 1em;
  margin-bottom: .2em;
}
hr {
  border: 0;
  height: 1px;
  background-image:
    linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgb(107 107 107 / 75%),
    rgba(0, 0, 0, 0)
    );
  margin: 20px 0;
  width: 90%;
}
a {
  color: var(--a-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.intro {
  color: var(--font-color);
  text-align: justify;
  width: 80%;
}
.intro h1 {
  color: var(--h1-color);
  text-align: center;
}
.intro .highlight {
  color: var(--highlight-color);
  font-weight: bold;
}
.intro a.highlight {
  color: var(--light-highlight-color);
}
.highlight {
  color: var(--highlight-color);
  font-weight: bold;
}

.columnWrapper {
  display: flex;
  gap: 2rem;
}
.latestProjectsTitle {
  margin-top: 2rem;
}
.projectsIntro {
  width: 80%;
  text-align: justify;
  margin-bottom: 1rem;
}

/* Smaller devices (tablets, 768px and down) */
@media (max-width: 768px) {
  .intro, .projectsIntro {
    width: 100%;
  }
}

.readMoreSection {
  position: relative;
  transition: max-height 1s ease;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 2rem;
  mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
}
.readMoreSection.display {
  mask-image: none;
}
.readMoreBtn {
  border: none;
  background: none;
  height: 2rem;
  font-size: 1em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  color: var(--read-more-color);
  cursor: pointer;
  text-shadow: 1px 1px 1px #424242;
}

.readMoreBtn:hover {
  color: var(--read-more-hover-color);
}
.readMoreBtn::before, .readMoreBtn::after {
  content: '';
  position: absolute;
  right: 2.2em;
  border: solid var(--read-more-hover-color);
  border-width: 0 0.1em 0.1em 0;
  display: inline-block;
  padding: 5px;
  transform: translateY(200%) rotate(45deg);
  top: 0.3em;
}
.readMoreBtn::after {
  top: 0;
}
.display .readMoreBtn::before, .display .readMoreBtn::after {
  transform: translateY(200%) rotate(-135deg);
  top: 0.4em;
}
.display .readMoreBtn::after {
  top: 0.7em;
}

.rafinBassLink {
  position: relative;
  max-width: 400px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1em;
  text-align: center;
}
.rafinBassLink p {
  margin-bottom: .7em;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* Large devices (desktops, 1224px and up) */
@media (min-width: 1224px) {
  .socialLinks {
    gap: 4rem;
  }
}

.project {
  text-align: justify;
}

.raspiContainer {
  position: relative;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.raspiText {
  width: 60%;
}
.raspiSideImage {
  position: relative;
  width: 40%;
  min-height: 300px;
  margin-top: .5rem;
  padding-bottom: 1rem;
  margin-right: 0.3em;
}
.raspiSideImage img {
  border-radius: 15px;
  box-shadow: 0.1em 0.3em 0.3em rgba(0, 0, 0, 0.6);
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .raspiContainer {
    flex-direction: column;
  }
  .raspiText {
    width: 100%;
  }
  .raspiSideImage {
    width: 100%;
    height: 18rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}

#github-logo {
  height: 60% !important;
  top: 0.6em !important;
}

.thank-you {
  color: var(--thank-you-color);
}